:root {
  --color-primary-midnight-green: #014E56;
  --color-primary-light-coral: #f67e7e;
  --color-primary-white: #fff;
  --color-secondary-rapture-blue: #79c8c7;
  --color-secondary-police-blue: #2c6269;
  --color-secondary-deep-jungle-green: #004047;
  --color-secondary-sacramento: #012f34;
  --color-secondary-dark-green: #002529;
  --main-font: "Livvic", "Arial", sans-serif;
}




@font-face {
  font-family: "Livvic";
  src: url("../fonts/Livvic-Medium.woff2") format("woff2");
  src: url("../fonts/Livvic-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Livvic";
  src: url("../fonts/Livvic-SemiBold.woff2") format("woff2");
  src: url("../fonts/Livvic-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Livvic";
  src: url("../fonts/Livvic-Bold.woff2") format("woff2");
  src: url("../fonts/Livvic-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}



/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  background-color: #fff;
  color: #fff;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* REUSABLE  STYLE*/

.btn {
  text-decoration: none;
  border-radius: 24px;
  border: 2px solid transparent;
  color: #fff;
  text-transform: lowercase;
  padding: 10px 32px;
  transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease, opacity 0.3s ease;
}

.btn:active{
  opacity: 0.6;
}


/* CONTAINER */
.container {
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* SITE-HEADER */
.site__header {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: var(--color-primary-midnight-green);
}

.site__header__container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 80px;
  transition: opacity 0.3s ease;
}

.logo:hover{
  opacity: 0.8;
}

.logo:active{
  opacity: 0.6;
}

.logo__img {
  display: block;
}

.sitenav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.sitenav__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 40px;
}

.sitenav__link {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  transition: color 0.3s ease, opacity 0.3s ease;
  text-transform: lowercase;
}

.sitenav__link:hover{
  color: var(--color-primary-light-coral);
}

.sitenav__link:active{
  opacity: 0.6;
}

.button--primary{
  border-color: #fff;
  transition: color 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
}

.button--primary:hover{
  background-color: #fff;
  color: var(--color-primary-midnight-green);
}

.button--primary:active{
  opacity: 0.6;
}



/* SITE-CONTENT */

.site-content {
  flex-grow: 1;
}

/* HERO */
.hero {
  padding-top: 55px;
  padding-bottom: 255px;
  background-color: var(--color-primary-midnight-green);
  overflow-y: hidden;
}

.hero__container {
  display: flex;
  position: relative;
}
.hero__container::before{
  display: block;
  position: absolute;
  content: '';
  width: 200px;
  height: 200px;
  left: calc(-20%);
  background-image: url("../img/hero-circle-black.svg");
  background-repeat: no-repeat;

}

.hero__container::after{
  display: block;
  content: '';
  position: absolute;
  background-image: url("../img/hero-double-circle.svg");
  width: 358px;
  height: 200px;
  right: calc(0%);
  top: 350px;
}

.hero__title-box {
  width: 635px;
  margin-right: 30px;

}

.hero__heading {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 104px;
  line-height: 100px;
  color: var(--color-primary-white);
}

.hero__heading span{
  color: var(--color-primary-light-coral);
}


.hero__deatials::before{
  margin-bottom: 80px;
  display: block;
  content: '';
  width: 50px;
  height: 4px;
  background-color: var(--color-secondary-rapture-blue);
}
.hero__deatials {
  width: 445px;
}

.hero__info {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-primary-white);
}


/* FEATURES-SECTION */

.features {
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: var(--color-secondary-sacramento);
}

.features__container {
  display: flex;
  position: relative;
}

.features__container::after{
  content: '';
  position: absolute;
  z-index: 1;
  width: 200px;
  height: 244px;
  left: calc(100% + 10px);
  top:calc(100% - 105px);
  background-image: url("../img/feature-bg.png");
  background-repeat: no-repeat;
  background-size: contain;


}

.features__title-box {
  width: 445px;
  margin-right: 125px;
}
.features__title-box::before{
  display: block;
  content: '';
  width: 50px;
  height: 4px;
  margin-bottom: 54px;
  background-color: var(--color-primary-light-coral);
}

.features__heading {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: var(--color-primary-white);
}

.features__list {
  margin: 0;
  padding: 0;
  margin-top: 54px;
  width: 540px;
  list-style: none;
}

.features__item:not(:last-child){
  margin-bottom: 32px;
}


.feature{
  display: flex;
}

.feature::before {
  flex-shrink: 0;
  margin-right: 23px;
  width: 72px;
  height: 72px;
  display: block;
  content: '';
  background-repeat: no-repeat;

}


/* individual items icons */
.experienced-individuals {
  background-repeat: no-repeat;
  background-image: url("../img/icon-experienced-person.svg");

}

.easy-to-implement {
  background-repeat: no-repeat;
  background-image: url("../img/icon-easy-to-implement.svg");
}

.enhanced-prodcutivity {
  background-repeat: no-repeat;
  background-image: url("../img/icon-enhanced-productivity.svg");
}

.feature__heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-primary-light-coral);
}

.feature__info {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.8);
}


/* DELIVERY */

.delivery {
  position: relative;
  padding-top: 140px;
  padding-bottom: 140px;
  background-color:var(--color-secondary-deep-jungle-green);
  overflow-y: hidden;
}

.delivery__container::before{
  content: '';
  top: 0;
  left: 0;
  /* display: block; */
  position: absolute;
  background-image: url("../img/delivery-top-bg.svg");
  width: 147px;
  height: 100px;
}

.delivery__container::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -100px;
  background-image: url("../img/delviery-bg-bottom.svg");
  width: 200px;
  height: 200px;
}


.delivery__desc {
  width: 930px;
  margin-left: auto;
  margin-right: auto;

}

.delivery__heading {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: var(--color-primary-white);
}

.delivery__heading span{
  color: var(--color-secondary-rapture-blue);
}


/* DELIVERY LIST */

.delivery__list {
  margin: 0;
  padding: 0;
  margin-top: 56px;
  list-style: none;
  display: flex;
}

.delivery__item {}

.story {
  padding-top: 50px;
  width: 350px;
  background-image: url("../img/icon-quotes.svg");
  background-repeat: no-repeat;
  background-position: center calc(5%);
  text-align: center;
}

.story::after{
  margin-right: auto;
  margin-left: auto;
  content: '';
  display: block;
  width: 62px;
  height: 62px;
  /* background-image: url("../img/person-kady.png"); */
  background-size: contain;
}

.product-manager::after{
background-image: url("../img/person-kady.png");
}

.product-founder::after{
  background-image: url("../img/person-aiysha.png");
}

.product-co-founder::after{
  background-image: url("../img/person-arthur.png");
}

.story__info {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: var(--color-primary-white);

}

.story__author {
  margin-top: 0;
  margin-bottom: 2px;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-secondary-rapture-blue);
}

.story__position {
  margin-top: 0;
  margin-bottom: 32px;
  font-style: italic;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: var(--color-primary-white);
}

/* GET-STARTED */

.get-started {
  padding-top: 76px;
  padding-bottom: 76px;
  background-color: var(--color-primary-light-coral);
  overflow-y: hidden;

}

.get-started__container {
  width: 920px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  position: relative;
}

.get-started__container::before{
  z-index: 100;
  content: '';
  display: block;
  position: absolute;
  background-image: url("../img/get-started-bg.svg");
  width: 200px;
  height: 244px;
  left: calc(-25%);
  top: 50%;

}


.get-started__heading {
  margin-right: 260px;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: var(--color-secondary-sacramento);

}

.btn--getstarted {
  color: var(--color-secondary-sacramento);
  border-color: var(--color-secondary-sacramento);
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;

}


.btn--getstarted:hover{
  background-color: var(--color-secondary-sacramento);
  color: var(--color-primary-white);
}


/* SITE-FOOTER */


.site-footer {
  background-color: var(--color-secondary-dark-green);
  padding-top: 50px;
  padding-bottom: 50px;
}

.site-footer__container {
  display: flex;
}


.site-footer__left {
  margin-right: 125px;
}

.site-footer__links-list {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  display: flex;
  list-style: none;
}

.site-footer__links-item:not(:last-child) {
  margin-right: 40px;
}

.site-footer__link {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  transition: color 0.3s ease, opacity 0.3s ease;
  text-transform: lowercase;
}

.site-footer__link:hover {
  color: var(--color-primary-light-coral);
}

.site-footer__link:active {
  opacity: 0.6;
}

address{
  width: 445px;
  margin-right: 125px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  font-style: normal;
  color: #FFFFFF;
  opacity: 0.6;
}


.site-footer__right {
  width: 255px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* justify-content: flex-end; */
}

.site-footer__social-networks {

  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

.sc {}


.sc__item:not(:last-child){
  margin-right: 16px;
}
.sc__link {
  color: #fff;
  transition: color 0.3s ease, opacity 0.3s ease;
}

.sc__link:hover{
  color: var(--color-primary-light-coral);
}

.sc__link:active{
  opacity: 0.6;
}


.site-footer__copyright{
  width: 255px;
  margin-top: 50px;
  margin-bottom: 0;
  text-align: right;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: right;
  color: #FFFFFF;
  opacity: 0.6;
}












/* ABOUT */

.about-hero {
  padding-top: 45px;
  padding-bottom: 120px;
  background-color: var(--color-primary-midnight-green);
  background-image: url("../img/about-hero-bg.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 580px) calc(50%);


}

.about-hero__container {
  display: flex;

}




.about-hero_heading {
  margin-top: 0;
  margin-bottom: 0;
  width: 350px;
  font-weight: bold;
  font-size: 64px;
  line-height: 100px;
  color: var(--color-primary-white);
}

.about-hero__info::before{
   margin-bottom: 80px;
   display: block;
   content: '';
   width: 50px;
   height: 4px;
   background-color: var(--color-primary-light-coral);

}

.about-hero__info {
  margin-top: 0;
  margin-bottom: 0;
  width: 730px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}


/* STAFF */

.staff{
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: var(--color-secondary-deep-jungle-green);
  background-image: url("../img/staff-bg-top.png"),
  url("../img/directors-bg-bottom.png");
  background-repeat: no-repeat;
  background-position: calc(50% - 690px) 0,calc(50% + 630px) 100%;

}


.staff__heading{
  margin-top: 0;
  margin-bottom: 64px;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: var(--color-primary-white);

}



.staff__list {
  margin: 0;
  padding: 0;
  margin-bottom: -76px;
  margin-left: -30px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.staff__item {
  margin-bottom: 76px;
  width: 350px;
  /* display: block; */
  margin-left: 30px;

}



.director__box {
  position: relative;
  perspective: 1000px;
}

.director__front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-secondary-sacramento);
  padding:32px 24px 65px;
  text-align: center;
  backface-visibility: hidden;
  transition: transform 0.4s ease;
}

.director__img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  border-radius: 50%;
}

.director__name {
  margin-top: 0;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: var(--color-secondary-rapture-blue);
}

.director__position {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;

}

.director__back {
  padding:32px 24px 60px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  transition: transform 0.4s ease;
  backface-visibility: hidden;
  background-color: var(--color-secondary-dark-green);
}

.director__links {
  margin-top: 24px;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;

}

.director__item {
  margin-left: auto;
  margin-right: auto;
}

.director__link {
  color: var(--color-primary-white);
  display: inline-block;
  transition: color 0.3s ease;
}

.director__link:hover{
  color: var(--color-primary-light-coral);
}

.director__link:not(:last-child){
  margin-right: 16px;

}



.director__box-rotated .director__front{
   transform: rotateY(180deg);
}

.director__box-rotated .director__back{
  transform: rotateY(360deg);
}


.director__blockquote {
  margin-top: 0;
  margin-top: 8px;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;

}

.director__blockquote p{
  margin-top: 0;
  margin-bottom: 0;
}

.director__btn{
  position: absolute;
  z-index: 10;
  bottom: -28px;
  left: calc(50% - 28px);
  border: none;
  width: 56px;
  height: 56px;
  background-color: var(--color-primary-light-coral);
  border-radius: 50%;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transition: transform 0.3s ease;
}

.director__box-rotated .director__btn{
  transform: rotate(45deg);
  background-color: var(--color-secondary-rapture-blue);
}


/* CLIENTS */

.clients {
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: var(--color-secondary-sacramento);
  background-image: url("../img/clients-bg.png");
  background-repeat: no-repeat;
  background-position: calc(50% - 135px) -20px;
}


.clients__container {}

.clients__heading {
  margin-top: 0;
  margin-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;

}

.clients__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.clients__item {}

.client:not(:last-child) {
  margin-right: 80px;
}

.client__img {}
